# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Temp/UnityTempFile-516b327c50ae8f14aa04f38fb5ec1029
Temp/UnityTempFile-5d55e36bb5aa81c4792467f12d1c821c
Temp/UnityTempFile-ae4eb0f18809b9648a1e3cccd2446674
Temp/UnityTempFile-c20da7a218ebbee41a0263ba481af2ad
Temp/UnityTempFile-e8d4ff1e42def6e48bd2a5c8f48a7297
